
/*Inicio: Archivo index.php*/
/*Propieddades del Contenedor*/
#contenedor.container {
  margin: 0 auto;
  margin-left:7%; 
  max-width: 1280px;
  width: 90%;
}

@media only screen and (max-width:600px){
    #contenedor.container {
    width: 85%;
  }
  #titulo-pagina{
    position: relative;
    top: -30px;
  }
  #navegation-scroll{
    right: 80%!important;
  }
}
@media only screen and (min-width: 601px) {
  #contenedor.container {
    width: 85%;
  }
}
@media (max-width:800px){
  .table-of-contents a{
    margin-left: 0% !important;
    font-size: 15px !important;
  }
}
@media only screen and (min-width: 993px) {
  #contenedor.container {
    width: 70%;
  }
}


/*Propiedades del Header*/
/*Hover sobre el titulo principal*/
#titulo-pagina:hover{
  color:rgb(23, 110, 197);
}
h1{
    margin: auto;
}

#logo-img{
    position: relative;
     vertical-align:middle;
     top:10px;
}
#titulo-pagina{
    font-family: 'Permanent Marker',
    cursive;
}
#titulo-logo{
    position: relative;
    top: 10px;
    font-family: 'Bree Serif',
    serif;
    font-size: 223%;
}
#parrafo-logo{
    position: relative;
    font-family: 'Pacifico',
    cursive;
    font-size: 100%;
}

#formulario-login{
    position: relative;
    top: 20px;
    right: 20px;
}
/*Elimina el margen inferior del renglon*/
.delete-margin-row-botton {
    margin-bottom: 0%;
}
/*Alineacion de los elementos del formulario*/
/*Texto contraseña olvidada*/
#contrasenia-olvidada{
  margin-top: 0%;
  margin-bottom: 0%;
}
#contrasenia-olvidada p{
  margin-top:3%;
}
#contrasenia-olvidada a:hover{
  text-decoration: underline;
}
#span-recuerdame{
    padding-left: 25%;
}
/*padding de las cajas con la parte superior del header*/
#cajas{
    padding-top: 20px;
}
/*Alineacion de los elementos del checkbox*/
#parrafo-checkbox {
    margin-top: 5px;
}

.fuente-menu{
    font-family: 'Comfortaa', cursive;
}

/*FORM BOX STYLES*/
/* label color */

.input-field label {
    color: rgb(56, 54, 54);
}

/* label underline focus color */
.input-field input[type=password]:focus {
    border-bottom: 1px solid rgb(54, 56, 77) !important;
    box-shadow: 0 1px 0 0 rgb(44, 38, 122) !important;
}
/* valid color */
.input-field input[type=password].valid {
    border-bottom: 1px solid rgb(16, 57, 168) !important;
    box-shadow: 0 1px 0 0 rgb(30, 17, 212) !important;
}
/* label focus color */
.input-field input[type=password]:focus+label {
    color:rgb(47, 50, 255) !important;
}

/* label underline focus color */
.input-field input[type=email]:focus {
    border-bottom: 1px solid rgb(54, 56, 77) !important;
    box-shadow: 0 1px 0 0 rgb(44, 38, 122) !important;
}

/* valid color */
.input-field input[type=email].valid {
    border-bottom: 1px solid rgb(16, 57, 168) !important;
    box-shadow: 0 1px 0 0 rgb(4, 66, 238) !important;
}

/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid rgb(196, 19, 6);
    box-shadow: 0 1px 0 0 rgb(221, 27, 13);
}

/* icon prefix focus color */
.input-field .prefix.active {
    color:rgb(21, 142, 241);;
}

/*CHECK BOXES STYLES*/
.blue:checked + span:before {
  top: -4px;
  left: -3px;
  width: 12px;
  height: 22px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid rgb(0, 47, 255) !important; 
  border-bottom: 2px solid rgb(0, 47, 255) !important;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }
  /*Fin del HEADER*/
  
  /*Inicio de Navegacion Menu*/
  #boton-registro:hover{
    color:#e3f2fd;
  }
  /*Fin de Navegación Menu*/

  /*Renglon padre del sidenav y el contenido principal*/
  #parent-row{
      position: relative;
      height: auto;
      width: auto;
      overflow-x: hidden;
      margin-bottom: 0%;
  }
  /*Inicio Sidenav*/
  /*Sidenav fijo*/
  #sidenav-1, #navegation-scroll{
      /*top: 215px;*/
      /*z-index: 1; Manda el elemento hacia el fondo*/
      position: absolute;
      height: 83.80%;
      width: 24%;

  }
  /*Tamaño de los titulos del Scrollspy*/
  .table-of-contents a{
    margin-left: 30px;
    margin-right: 0px;
    font-size: 20px;
  }
  #navegacion-menu{
       margin-bottom: 0%;
   }
  #navegacion-menu-movil{
      margin-bottom: 0%
  }

aside .row{
      margin-bottom: 0%;
  }

  /*Elements checkbox of aside*/
  .collapsible-body{
      padding-left: 23% !important;
  }
  .collapsible-body form p{
      margin-top: 0%;
      margin-bottom: 0%;
  }
  /*Fin del Sidenav*/

  
  /*Inicio Contenido principal*/
  #main-index .row{
      overflow-y: auto;
  }
  /*Tamaño de los titulos principales de la página inicial*/
  #main-index h1{
      font-weight: bold;
      color: rgb(54, 54, 54);
      font-size: 35px;
  }

  /*Cambia erl height de las cajas de texto*/
  .section-cajas .caja{
    height: 260px;
    padding: 15px 5px;
    overflow: hidden;
  }
  .section-cajas .caja h5{
    padding-bottom: 5px;
  }

/*InicioTitulon*/
.titulo{
  margin: 0.5%;
  padding-left: 0.8%;
  padding-right: 0.8%;
}
/*Fin titulo*/

/*Tarjetas*/
  .card {
  background-color: #f4f4f4;
  width: 300px;
  margin: 10px auto;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.7);
}

.card-header {
  overflow: hidden;
  width: 100%;
  max-height: 200px;
}

.card-header img{
  width: 100%;
}

.card-content {
  width: 85%;
  margin: 5px auto;
  padding: 5px !important;
}

.card-content h3 {
  font-size: 25px;
  margin-bottom: 0;
  color: #303F9F;
  font-family: 'Montserrat', sans-serif;
}

.card-content h4 {
  font-size: 14px;
  margin-top: 0;
  color: rgb(14, 62, 219);
  font-family: 'Montserrat', sans-serif;
}

.card-content p {
  color: #727272;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif; 
}
.card-content #nombre-proyecto{
  margin: 0%;
}
.elemento > h4, span{
  display: inline;
}

.card-action a{
  font-size: 12px;
}

.card-footer {
  border-top: solid 1px #B6B6B6;
  padding: 5px;
}

.card-footer ul {
  padding: 0;
  width: 90%;
  margin: auto;
  text-align: center;
}

.card-footer ul li{
  display: inline-block;
  list-style: none;
  margin: 5px;
}

.card-footer ul li i {
  font-size: 2em;
  color: #3F51B5;
}
/*Fin del Contenido Principal*/

/*Preloader en el index.php*/
.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.preloader-background p {
    display:block;
    padding-top:120px;
    margin-left: -60px;
    opacity: 0.8;
} 

/* ADD BLINKING TEXT CLASS*/
.blinking {
	animation: blinker 0.5s linear infinite;
}
@keyframes blinker {  
  50% { opacity: 0; }
}

/*Posicion del el boton flotante
#back-to-top {
  bottom: 90px;
}*/

/*Fin Archivo index.php*/

